$blueish: #2a7af7;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input,
input:focus {
  border: none;
  background: transparent;
  outline: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: clamp(26px, 7vw, 70px);
  line-height: clamp(26px, 7vw, 70px);
  width: 50vw;
  max-width: 500px;
  color: $blueish;
  text-shadow: 0 0 6px $blueish;
  font-weight: 900;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.zoom-anim {
  position: relative;
  transform: scale(4);
  animation-name: zoom;
  animation-duration: 1s;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.ddiv {
  width: 100px;
  height: 100px;
  position: relative;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.trans {
  opacity: 0;
}

.fade1 {
  animation: fadeIn 3s;
}

.fade2 {
  animation: fadeIn forwards 3s;
}

.hint {
  color: green;
  transition: 1s;
}

.error {
  color: red;
  transition: 2s;
}

@mixin floatingradient {
  background-image: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  margin: 0;
  padding: 0;
  //text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.15);
  animation: animatedText 5s infinite alternate-reverse;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

.floatingTitle {
  @include floatingradient();
  font-size: clamp(26px, 6vw, 60px);
  font-weight: 900;
  margin-bottom: 30px;
}

.floatingTxt {
  @include floatingradient();
  font-size: 4vw;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fat {
  font-weight: 900;
  font-size: 3vw;
}

.big-txt {
  font-size: clamp(26px, 7vw, 70px);
}

.blue {
  color: $blueish;
}
